* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    width: 100%;
    height: 100vh;
    background-color: #f2ebe3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.container {
    max-width: 1440px;
    padding: 0 15px;
}
.card {
    display:flex;
    justify-content: center;
    margin: auto;
    max-width: 700px;
    min-height: 480px;

}
.left_col {
    background-image: url("images/image-product-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 50%;
    border-radius: 15px 0 0 15px;
}
.right_col {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    border-radius:  0 15px 15px 0;
    background-color: white;

}
.title{
    font-family: 'Montserrat', sans-serif;
    color: #1c232b;
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 15px;
    letter-spacing: 4px;
}
.main_title {
    font-family: 'Fraunces', serif;
    color: #1c232b;
    font-size: 36px;
    line-height: 36px;
    padding: 0 0 18px 0;
}
.description, .sale_price{
    font-family: 'Montserrat', sans-serif;
    color: #1c232b;
    font-size: 14px;
    line-height: 1.4;
}
.price_content{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 70px 0 20px 0;
}
.regular_price {
    margin-right: 20px;
    font-family: 'Fraunces', serif;
    font-size: 34px;
    line-height: 34px;
    color: #3c8067;
}
.sale_price {
    padding-bottom: 0px!important;
    text-decoration: line-through;

}
.button {
    position: relative;
    display: block;
    background-color: #3c8067;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.button:before {
    position: absolute;
    content: "";
    width: 15px;
    height: 16px;
    background-image: url("images/icon-cart.svg");
    background-repeat: no-repeat;
    top: 40%;
    left: 25%;
}
.button:hover {
    background-color: #223026;
    transition: 0.5s;
}
.main .description {
    padding: 0 15px;
}

@media (max-width: 577px) {
    .card {
        flex-direction: column;
    }

    .left_col {
        background-image: url("images/image-product-mobile.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
        min-height: 300px;
        border-radius: 15px 15px 0 0;
    }
    .right_col {
        padding: 20px;
        width: 100%;
        border-radius: 0 0 15px 15px;
    }
    .price_content {
        padding: 40px 0 20px 0;
    }
}
